/*PAGINA 1830*/

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'PlayfairDisplayBoldItalic';
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf);
}
@font-face {
    font-family: 'Lora';
    src: url(../fonts/Lora/Lora-Regular.ttf);
}
@font-face {
    font-family: 'LoraBoldItalic';
    src: url(../fonts/Lora/Lora-BoldItalic.ttf);
}

body{
    background-color: #c45306;
}
header{
    width: 100%;
    height: 100px;
    background-color: #813405;
    position: fixed;
}
nav{
    width: 100%;
    padding-top: 1.7%;
}
nav a{
    float: inline-start;
    margin: 0 2rem;
    font-family: 'LoraBoldItalic', sans-serif;
    font-size: 180%;
    text-decoration: none;
}
nav a:first-child{
    margin-left: 4%;
}
nav a:hover p{
    color: #f9a03f;
    transition: color 0.5s;
    border: 2px solid #f9a03f;
    border-radius: 10px;
    padding: 5px;
    padding-top: 0;
}
nav a:link{
    color: white;
}
nav a:active{
    color: black;
}
nav a:visited{
    color: white;
}
span{
    font-family: 'PlayfairDisplayBoldItalic';
    color: #330a05;
}


section{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    height: fit-content;
}
section h2{
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 400%;
    margin: 4% 0 1% 0;
    text-decoration: underline;
    text-align: center;
}
section h3{
    font-family: 'PlayfairDisplay', sans-serif;
    font-size: 250%;
    margin: 2% 0;
    text-align: center;
}
section p, section ul{
    font-family: 'Lora';
    font-size: 150%;
    text-align: justify;
}
section p, li{
    padding: 0.5% 0;
}
section a{
    color: white;
}
section a:active{
    color: white;
}
section a:hover{
    color:#330a05;
    transition: color 1s;
}

#quadros{
    height: 1100px;
}
#quadro1, #quadro2, #quadro3, #quadro4{
    width: 50%;
    height: 50%;
    float: left;
}
#quadro1, #quadro2{
    padding-top: 6%;
}

#acontecimentos{
    padding-top: 6%;
}
.tituloli{
    text-decoration: underline;
}
h3{
    clear: both;
}

#modafem{
    width: 90%;
    padding: 0 5%;
}
#modafem img{
    float: inline-start;
    height: 25rem;
    width: auto;
    padding: 3% 6%;
}
.modamascimg{
    height: 25rem;
    padding: 3% 33%;
    width: 34%;
}
.modamascimg:first-of-type{
    width: 20%;
    padding: 3% 40%;
}

footer{
    background-color: #813405;
    text-align: center;
    font-family: 'Lora';
    color: white;
    padding: 1%;
    font-size: 120%;
    height: fit-content;
    margin-top: 1%;
}
footer h4{
    padding-bottom: 0.4%;
}
footer h4:nth-child(2){
    text-decoration: underline;
    padding: 0.4% 0 0.8% 0;
}
footer a{
    color: white;
}
footer a:hover{
    color: #330a05;
    transition: color 0.5s;
}